/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

header p, footer p{
    margin: 0;
    padding: 0;
}
header ul, footer ul{
    list-style: none;
}
.topBar ul.storename, footer ul.storename{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topBar ul li a:hover, .topBar ul li a:hover span{
    color: #428bca !important;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

footer .storename li .phone a span:before{
    display: none;
}
footer .overlapcontent .fl-icon-wrap {
    display: flex;
    align-items: self-end;
}
footer .fl-icon-wrap a:hover {
    color: #fff !important;
}
footer ul li a:hover, .contact a.fl-icon-text-link:hover p {
    text-decoration: underline !important;
}

ul.social-icons li a:hover i {
    color: #3b3b3b !important;
}

.locationRow ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.locationRow ul li a p{
    margin: 0 !important;
    padding: 0 !important;
}
.locationRow ul.storename li a {
   color: #ffffff;
}
.locationRow ul.storename li a:hover {
    color: #428bca;
}
.locationRow ul.storename li .direction a:hover{
    background: #fff;
}
.locationRow ul.storename li .direction a:hover span{
    color: #000;
}
.mapDiv .map-container iframe {
    min-height: 580px !important;
}

ol.ol {
    list-style: none;
    margin-top: 10px;
}
ul.storename {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gfield_captcha_input_container.math_medium input {
    width: 90px;
}
.product-detail-layout-6 .dual-button a {
    background-color: #3B3B3B !important;
    color: #fff!important;
    border-style: solid;
    border-width: 0 !important;
    border-color: #3B3B3B !important;
}
.product-detail-layout-6 .dual-button a:hover {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.facet_filters strong {
    font-size: 16px;
    color: #000000;
    display: block;
    margin: 0 0 10px;
}

.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
}

.product-grid a.link:hover{
    text-decoration: none !important;
}
.rmp-menu-item-link{
    text-transform: uppercase;
}
.product-colors ul li.found{
    margin-right: 5px;
}

.locationRow .storename li .address a{
    position: relative;
    padding-left: 15px;
    display: inline-block;
}
.locationRow .storename li .address a:before {
    font-size: 20px !important;
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    position: absolute;
    left: 0 !important ;
    top: 0;
}

.relative{
    position: relative;
}

.headerBtn {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 0;
    z-index: 99;
    margin-top: 3px;
}
.headerCol{
    text-align: center;
}
.headerCol .btn {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: none;
    background: #b3b3b3;
    padding: 12px 24px;
    margin-left: 10px;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
}
.headerCol .btn:hover {
    background: #000;
}
.headerCol p {
    font-size: 10px;
    font-weight: 600;
    margin-top: 2px;
}
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .product-detail-layout-6 .product-variations .color-boxs-inners small, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
.gform_heading p.gform_required_legend {
    display: none;
}



@media screen and (min-width:769px) and (max-width:1024px){
    .copayrightRow .fl-menu .menu > li {
        font-size: 12px;
    }
}

@media (max-width:1024px){
    .headerNavigation .fl-menu .menu > li {
        font-size: 14px;
    }
    .headerBtn{
        justify-content: center;
        position: static;
        padding: 5px 0 0;
    }
    .headerCol .btn{
        margin: 0 5px;
    }
}

@media (max-width:768px){
    ul.social-icons {
        text-align: center;
    }
    footer .overlapcontent .fl-icon-wrap {
        justify-content: center;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 33.33%;
    }
    .featured-products .featured-product-list .featured-product-item .prod-img-wrap {
        justify-content: center;
    }
    .featured-products .featured-product-list .featured-product-item  .product-info {
        text-align: center;
    }
    .full-width-img img {
        width: 100%;
    }
    footer ul li p.inline_address {
        text-align: center;
    }
    button.rmp_menu_trigger {
        top: 135px !important;
    }
    /* Slider height issue on mobile open */
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
	.fl-content-slider .fl-slide-bg-link{
		z-index: 2!important;
	}
    /* Slider height issue on mobile closed */
}

@media screen and (min-width:490px) and (max-width:768px){
    .rmp-container.rmp-container.rmp-slide-left{
        min-width: 500px !important;
        max-width: 500px !important;
    }
}

@media (max-width:767px){
    .featured-products .featured-product-list .featured-product-item {
        width: 50%;
    }

}

@media screen and (max-width: 600px){
    .featured-products .featured-product-list .featured-product-item {
        width: 100%;
    }
    h1{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    h2 {
        font-size: 28px !important;
        line-height: 35px !important;
    }
}
@media screen and (max-width: 480px){
    .logo  .uabb-photo-mob-align-center {
        text-align: left;
    }
    .logo .uabb-photo-content img {
        width: 200px;
    }
    .rmp-menu-item-link{
        font-size: 11px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .rmp-submenu .rmp-menu-item-link {
        font-size: 8px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .headerCol .btn{
        padding: 12px;
        font-size: 7px;
        line-height: 10px;
    }
    .headerCol p{
        font-size: 8px;
    }
}